/*page d'accueil */


.accueil {
    font-family: 'Oxygen', sans-serif;
    background-image: url("teach.jpg");
    background-size : 100%; 
    background-repeat: no-repeat;
    
}

.trait{
    margin: 10px auto;
    width: 20%;
    height: 1px;
    background-color:orange;
    border: none; /* supprimer le style par défaut */
} 


.formulaire{
    font-family: 'Oxygen', sans-serif;
    background-image: url("cours.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#monform{
    position:absolute;
    top:50%;
    left:50%;
    width:400px; /* A toi de donner la bonne largeur */
    height:80px; /* A toi de donner la bonne hauteur */
    margin-left:-150px; /* -largeur/2 */
    margin-top:-100px; /* -hauteur/2 */
}
  




.navigation {
    
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;


    text-align: center;
    color : #CFD2D6
    
}
    
header{
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(25, 103, 155);
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    text-align: left;
    top: 0;
    border-top:5px solid greenyellow; 
    width : 100%
    

}


/* page formulaire */


legend {
    text-transform : uppercase;
    display: inline-box;
    color: rgb(25, 103, 155);
    font-size: 1.4em;
	margin-bottom: 10px;
}

fieldset{
    text-align : justify;
    padding:0 20px 20px 20px;
    margin-bottom:5px; /*espace entre les 2 champs de formulaire*/
    border: none;
    background-color:gainsboro;
    font-size: x-large;
    border-radius: 10px;
    

}

input{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    background-color: beige; 
   
}

.number{
    background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

label{
    display: inline-block;
}




/* bouton envoyer */

.button{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(3, 92, 175);
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    position: relative;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgba(102, 102, 102, 0.61);
        
}
        
.button:hover{
    background-color: rgb(4, 175, 61)
}


/* MAJUSCULES */
.uppercase{
text-transform: uppercase;
}