<!DOCTYPE html>
<html lang="fr">

    <head>
            <link href="style.css" rel="stylesheet" media="all" type="text/css"> 
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>Teach and Learn : Les cours particuliers basés sur un système d'entraide</title>
            <meta name="description" content="Cours particuliers gratuit graçe à un système d'entraide " />

    </head>


    <body>

        <header > <!--rajouter les links pour chaque item -->
                <span> <a class="navigation" href="#1">Accueil</a> </span>
                <span> <a class="navigation" href="#2">Elèves</a> </span>
                <span> <a class="navigation" href="#3">Professeurs</a> </span>
                <input class="favorite" type="button" class="button" value="Connection">
        </header>

        <div align="center"><h1>Teach and Learn</h1></div>
        <div align="center"><h2>X</h2></div>
        <div align="center"><h1>Apprenons Ensemble</h1></div>

        <br/>
        <br/>

        <!-- Bonjour-->



    <div>
        <h2>Comment fonctionne Teach and Learn ?</h2>
        <div class="subtitle">Teach and Learn vous aide à trouver des professeurs particuliers dans le domaine qui vous interesse. Système basé sur l'entraide, il vous suffit de donner des cours pour gagner des points et ainsi en recevoir à votre tour! Vous pouvez aussi tout simplement acheter des crédits pour commencer directement à vous instruire.</div>
    </div>

    <br/>

    <div>
        <div><h4>Etape 1</h4></div>
            <div class="row">
                <h3 class="col-md-12" class="process__title">Votre solde de points</h3>
                <div class="col-md-6" class="text-info"> 
                    <div><h5>Si vous possédez suffisamment de points</h5></div>
                    <div class="text-info">Vous pouvez passer directement à l'étape 2</div>
                </div>
                <div class="col-md-6" class="text-info"> 
                    <div><h5>Si vous ne possédez pas suffisamment de points </h5></div>
                        <div class="text-info" class="col-md-6">Vous pouvez soit donner un cours pour en recevoir</div>
                        <div class="text-info" class="col-md-6">Vous pouvez acheter des crédits</div>
                </div>
            </div>


        <div><h4>Etape 2</h4></div>
            <div>
                <h3 class="process__title">Trouvez les tuteurs qu'il vous faut</h3>
                <div class="text-info">Filtrez les résultats de recherche en fonction de la matière, des qualifications et des disponibilités qui vous conviennent le mieux.</div>
            </div>

        <div><h4>Etape 3</h4></div>
            <div>
                <h3 class="process__title">Réservez instantanément votre première leçon</h3>
                <div class="text-info">Prennez contact avec votre tuteur à l'aide de la fonction "réserver un cours"</div>
            </div>

        <div><h4>Etape 4</h4></div>
            <div>
                <h3 class="process__title">Vers le chemin de la connaissance!</h3>	
                <div class="text-info"> Vous pouvez commencer votre apprentissage!</div>	
            </div>

        <br/>
        <br/>
    </div>
                            <!-- Fin -->

        <div class="row">
            <div class="col-md-4">
            <h5>Assistance</h5>
                <div>
                    <p>Besoin d'aide ?</p>
                    <a href="mailto:b-stev@hotmail.fr">b-stev@hotmail.fr</a>
                </div>
            </div>


            <div class="col-md-4">
                <h5>Contacts</h5>
                <div>
                    <p> AJC Formation </p>
                    <p> 6 Rue Rougemont, 75009 Paris</p>          
                </div>
            </div>
            
            
            <div class="col-md-4">
                <h5>Nos Réseaux Sociaux</h5>
                <div>
                    <a href="A renseigner">Facebook</a>
                    <a href="A renseigner">Twitter</a>
                    <a href="A renseigner">Youtube</a>
                </div>
            </div>
        </div>
            <br/>
            <br/>
            
        <footer>
            <div class="f-copy f-copy--2x">
                <div class="f-copy__docs">  
                    <a class="f-copy__docs__item js-link" href="javascript:void(0);" data-url="A renseigner">Conditions Générales d'Utilisation</a>
                    <a class="f-copy__docs__item js-link" href="javascript:void(0);" data-url="A renseigner">Politique de confidentialité</a>
                    <a class="f-copy__docs__item js-link" href="javascript:void(0);" data-url="A renseigner">Politique de cookies</a>
                </div>
            </div>
        </footer>

    </body>

</html>
